.title {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
    color: #c93438;
    text-shadow: 2px 2px 5px rgba(201, 52, 56, 0.6);
}

.input {
    width: 30%;
    padding: 0.5rem;
    margin: 20px auto 1rem auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: block;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #c93438;
    outline: none;
    box-shadow: 2px 2px 5px rgba(201, 52, 56, 0.6);
}
.button{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
     margin: 20px auto;   
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
     transition: all 0.3s ease-in;
}

.button:hover {

    border-color: #c93438;
    outline: none;
    box-shadow: 2px 2px 5px rgba(201, 52, 56, 0.6);
}