* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/img/Fonfo.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loginPageIzquierda {
  grid-column: 1 / 2;
  padding: 20px;
  width: 50vw;
  height: 100vh;
  overflow-y: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff00;
}

.botonLogin {
  display: flex;
  direction: flexStart;
  margin-top: 10px;
  font-size: 20px;
  height: 50px;
  width: 180px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.botonLogin:hover {
  border-color: #c93438;
  color: white;
  cursor: pointer;
}

.loginPageDerecha {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginPageDerecha img {
  max-width: 110%;
  max-height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.input {
  display: block;
  width: 450px;
  height: calc(2em + 0.8rem + 1px);
  padding: 0.2rem 0.75rem;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #495057;
  border-radius: 10px;
  transition: box-shadow 0.15s ease-in-out;
  margin-top: 20px;
}

.input::placeholder {
  font-family: sans-serif;
  font-weight: 500px;
}

.input:focus {
  outline: 0;
  border: 2px solid #c93438;
  box-shadow: 0 0 12px rgba(201, 52, 56, 0.6) !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.botonGoogle {
  width: 50%;
}
